body {
  background-color: #ecebec;
}
article {
  background-color:#ffffff;
  margin: 0 10%;
  padding: 5%;
}
.grid-container-nav {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
.item-nba {
  text-align: left;
}
.item-search {
  text-align: right;
}
.nav-icons {
  height: 1.5em;
  width: auto;
}
.carousel-container{
  width:100%;
  margin:auto;
  overflow: hidden;
  border: 0.5em solid #479ce6;
  position: relative;
  border-radius: 1em;
}

#prevBtn{
  height: 2em;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  opacity: 0.8;
  cursor: pointer;
}
#nextBtn{
  height: 2em;
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  opacity: 0.8;
  cursor: pointer;
}

.carousel-slide{
  display:flex;
  width: 100%;
  height: 90%;

}
.progress-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 900000;
}
.progress {
  background-color: #000000;
  height: 30px;
  padding: 5px;
  width: 0px;
  text-align: right;
  border-radius: 0px 25px 25px 0px;
}
.ball {
  height: 20px;
  width: auto;
}
h1 {
  color: white;
}
h2 {
  font-family: 'Arya', sans-serif;
  font-size: 2.5em;
  text-align: center;
  line-height: 1em;
  }

h4{
  font-family: 'Arya', sans-serif ;
  font-size: 1.5em;
  text-decoration: underline;
}

h5{
  font-family: 'Merriweather', serif;
  font-style: oblique;
  font-size: 1em;
  font-weight: 900;
}

p {
  font-family: 'Merriweather', serif ;
  line-height: 1.8em;
}
.next{display: grid;
  background-color: #8c8c8c;
  padding: 1em;
  height: 15em;
}
.description-icon {
  height: 5em;
  width: auto;
}

.description-btn{
  width: 100%;
  text-align: left;
  border-style: none;
  background-color: #296ab1;
  color: white;
  font-family: sans-serif;
  font-size: 0.2em;
  padding:1em;
}
.description-btn:hover {
  background-color: #479ce6;
  color: white;
}
.modal {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 400ms ease-in-out;
  z-index: 10;
  background-color: #296ab1;
  width: 500px;
  max-width: 80%;
}
.title img{
  height: 1em;
  width: auto;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25em;
  font-weight: bold;
}
.modal-body {
  padding: 15px;
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #a11717;
  padding: 1em;
  height: 6em;
}
.nba {
  height: 25px;
  width: auto;
}
.social{
  text-align: right;
}

/* For laptop view */
@media screen and (min-width: 1024px){
  .raptors-article {
    margin: 0 20%;
    width: 60%;
  }
}
/* For laptop view*/
@media screen and (min-width: 1440px){
  .raptors-article {
    margin: 0 29%;
    width: 42%;
  }
} 