body {
  background-color: #ecebec;
}
article {
  background-color: white;
  margin: 0 10%;
  padding: 5%;
}
.grid-container-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
.item-nba {
  text-align: left;
}
.item-search {
  text-align: right;
}
.nav-icons {
  height: 1.5em;
  width: auto;
}
h1 {
  color: white;
}
